# =========
# Network
# =========

export API_LISTENING_PORT=3000

# =========
# Database
# =========

export DATABASE_URL=postgresql://postgres:password@localhost

# =========
# Fake
# =========

export FAKE_RNIPP_API_LISTENING_PORT=3001