# https://docs.npmjs.com/cli/v8/configuring-npm/npmrc

# enforce the actual engine conforms with package.json "engine" key
engine-strict=true

# prevent dependencies post-install scripts (which may be malicious)
ignore-scripts=true